html, body {
  height: 99%;
  width: 99%;
  margin: 0 auto;
}

main > div {
  padding: 1px 10px;
  width: 90vw;
  margin-bottom: 10px;
}

main > div > input {
  margin: 5px;
  padding: 5px 10px;
  width: 80vw;
}

main > div > button {
  margin: 5px;
}

.container__filter {
  display: flex;
}

table {
  width: 89vw;
  border-collapse: collapse;
}

table > thead > tr > th,
table > tbody > tr > th {
  border: 1px solid lightgray;
}

table > thead > tr > th {
  padding: 5px 0;
}

main > div > p {
  margin: 5px;
  text-align: right;
}

main > div > p > span {
  font-weight: bolder;
}