html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0 auto;
}

main > div {
  padding: 10px;
}

main > div > input {
  display: block;
  width: 80%;
  margin: 20px;
  border: none;
  border-bottom: 1px solid lightgray;
}

main > div > button {
  width: 80%;
  margin: 0px 20px;
}

main > div > table {
  margin: 0 auto;
  width: 90%;
  border-collapse: collapse;
}

main > div > table > thead > tr > th,
main > div > table > tbody > tr > td {
  border: 1px solid lightgray;
  padding: 5px;
}

main > div > table > thead > tr > th{
  cursor: pointer;
}